<h1>New Job Hunt Action</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form method="POST" action="/actions/new">
	<h3><label for="action_type">Action Type</label></h3>
	<br>
	<select name="action_type">
		<% @action_types.each do |action_type| %>
			<option value="<%= action_type %>"><%= action_type %></option>
		<% end %>
	</select>
	<h3><label for="date">Date</label></h3>
	<br>
	<input type="date" name="date">
	<h3><label for="note">Note</label></h3>
	<br>
	<input type="text" name="note">
	<h3><label for="company_id">Company</label></h3>
	<br>
	<select name="company_id">
		<% Company.all.each do |company| %>
			<option value="<%= company.id %>"><%= company.name %></option>
		<% end %>
	</select>
	<br>
	<input type="submit" value="Submit">
</form>