<h1>Welcome, <%= @user.username %></h1>
<br>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>
<a href="/logout">Log Out</a>
<h2><a href="/skills/rankings">See Which Skills are In Demand!</a></h2>
<br>
<a href="/companies/new">Create a Company Listing</a>
<br>
<a href="/contacts/new">Add a Contact</a>
<br>
<a href="/postings/new">Add a Job Posting</a>
<br>
<a href="/actions/new">Add an Action Note</a>
<br>
<h2>Recent Actions</h2>
<br>
<% @recent_actions.each do |action| %>
	<h3><a href="/actions/<%= action.id %>"><%= action.action_type %>, <%= action.company.name %></a></h3>
<% end %>
<a href="/actions">See all actions</a>
<h2>Recently Created Postings</h2>
<% @recent_postings.each do |posting| %>
	<h3><a href="/postings/<%= posting.id %>"><%= posting.job_title %></a></h3>
<% end %>
<a href="/users/<%= @user.id %>/postings">See all of your postings</a>
<h2>Recently Created Companies</h2>
<% @recent_companies.each do |company| %>
	<h3><a href="/companies/<%= company.id %>"><%= company.name %></a></h3>
<% end %>
<a href="/users/<%= @user.id %>/companies">See all of your companies</a>
